header{
    display: flex
}
body {
    background-color: rgb(12, 5, 5);
}
.Encabezado {
    text-align: center;
    width: 100%;
}
h1 {
    text-decoration: dashed;
    font-size: 400%;
    display: inline;
    border-radius: 5%;
    background-color: rgb(116, 20, 100);
    text-align: center;
    color: rgb(251, 244, 213);
}
h1:hover {
    background-color: #454545;
    transition: all;
    transition-duration: 0.5s;
    color: azure;
}
.mi{
    text-align: center;
    padding-top: 20px;
}
h2 {
    display: inline;
    font-size: 300%;
    background-color: #62154d;
    text-align: center;
    color: blanchedalmond;
}
h2:hover{
    background-color: #454545;
    transition: all;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
/*cuerpo rojo*/
.body_div{
    width: 90%;
    background-color: rgba(64, 136, 186, 0.652);
    display: flex;
    padding-left: 10%;
}
/*porcentaje que tendra cada div, en este caso, 40%texto y 60% imagen y demás*/
.body_div div{
    width: 50%;
}
/*foto de perfil*/
.fotoperfil{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 3%;
}
img{
    width: 60%;
    height: 90%;
    border: 3px solid black;
}
.img:hover{
    border: white;
    border: 5px;
    transition: 3s;
}
/*parrafo*/
p {
    padding-top: 8%;
    color: rgb(154, 216, 233);
    font-size: 230%;
    width: 90%;
    font-style: initial;
}
.parrafo1 {
    text-align: left;
}

.logotiktok {
    font-size: 400%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.566);
    transition: borderground-color 0.5g; rotate: 0.5s;
}
.logotiktok:hover{
    transition: 1s;
    color: white;
    font-size: 430%;
    transition: 1s;
    rotate: 360deg;
}
.logoig {
    margin: 5px;
    font-size: 400%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.566);
    transition: background-color 0.5g, rotate 0.5s ;
}
.logoig:hover{
    font-size: 430%;
    color: white;
    rotate: 360deg;
    transition: 1s;
}

.links div{
    width: 50%;
}
.links{
    text-align: center;
    width: 100%;
}
.logoig:hover {
    text-decoration: dotted;
}
a {
    text-decoration: none;
}
h5 {
    font-display: 20px;
    text-decoration: dotted;
}
.redes{
    text-align: center;
    font-size: 60px;
    width: 100%;
}
h5{
    color: #494938;
    border-radius: 5%;
    display: inline;
}
h5:hover{
    text-decoration: dashed;
    background-color: rgb(126, 125, 125);
    transition: all;
    transition: 0.5s;
    color: aliceblue;
}
.Perfiles{
    display: flex;
    width: 100%;
}
.Perfiles img{
    width: 100%;
}
.Perfiltik{
    opacity: 70%;
    transition: 0.5s;
}
.Perfilig{
    opacity: 70%;
    transition: 0.5s;
}
.Perfiltik:hover{
    opacity: 100%;
    transition: 0.5s;
}
.Perfilig:hover{
    opacity: 100%;
    transition: 0.5s;
}
.despedida{
    color: white;
    font-size: 300%;
    display: flex;
    text-align: center;
    padding-left: 700px;
    padding-top: 430px;
    padding-bottom: 430px;
}
