header{
    display: flex
}
body {
    background-color: rgb(43, 19, 19);
}
.Encabezado {
    text-align: center;
    width: 100%;
}
h1 {
    text-decoration: dashed;
    font-size: 400%;
    display: inline;
    border-radius: 5%;
    background-color: rgb(130, 67, 67);
    text-align: center;
    color: rgb(255, 255, 255);
}
h1:hover {
    transition: all;
    transition-duration: 0.5s;
}
.mi{
    text-align: center;
    padding-top: 20px;
}
h2 {
    display: inline;
    font-size: 300%;
    background-color: #494938;
    text-align: center;
    color: blanchedalmond;
}
/*cuerpo rojo*/
.body_div{
    width: 90%;
    background-color: brown;
    display: flex;
    padding-left: 10%;
}
/*porcentaje que tendra cada div, en este caso, 40%texto y 60% imagen y demás*/
.body_div div{
    width: 50%;
}
/*foto de perfil*/
.fotoperfil{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}
img{
    width: 60%;
    height: 90%;
}
/*parrafo*/
p {
    color: rgb(120, 120, 120);
    font-size: 230%;
    width: 90%;
    font-style: initial;
}
.parrafo1 {
    text-align: left;
}

.logotiktok {
    display: inline-block;
    font-size: 400%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.566);
}
.logoig {
    display: inline;
    margin: 5px;
    font-size: 400%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.566);
    border-radius: 23px;
}
.links div{
    width: 50%;
}
.links{
    text-align: center;
    width: 100%;
}
.logoig:hover {
    text-decoration: dotted;
}
a {
    text-decoration: none;
}
h5 {
    font-display: 20px;
    text-decoration: dotted;
}
.redes{
    text-align: center;
    font-size: 60px;
    width: 100%;
}
h5{
    color: #494938;
    border-radius: 5%;
    display: inline;
}
h5:hover{
    text-decoration: dashed;
    background-color: black;
    transition: all;
    transition: 0.5s;
}